:root{

    --header-clr-1:#FFBE6B;
    --header-clr-2:#BC7184;

    --btn-Hover-clr-1:#F08F7B;

}


*,::after,::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;

    background-color: #474554;
}

/* =============== */
/* !game Title */
/* =============== */

.gameTitle{
    text-align: center;

    padding: 4rem 0 3rem 0;

    font-size: 3.8rem;
    font-family: 'Tilt Neon', sans-serif;

    color:var(--header-clr-2);
}


/* =============== */
/* !game section */
/* =============== */
.playerText{
    text-align: center;
    font-size: 4rem;
    margin: 3rem 0;
    color:var(--header-clr-1)
}

.game{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    z-index: 1;

}


.gameSection{

    height:36rem;
    width:36rem;

    display: grid;

    background-color:#F2ECFF;


    grid-template-columns: repeat(3, 1fr);

}


.CellSize{
    width:12rem;
    height:12rem;

    border: 1px solid black;
}

/*===================
=====================*/
/* !select player section   */
/* ==================
===================== */


.playerSection{
    display: flex;
    justify-content: center;
    
    

    font-family: 'Tilt Neon', sans-serif;
    font-weight: bold;
    
}

.centerDiv{
    margin-top:8rem;
}


.playerSection h3{
    font-size: 2.3rem;
    color:var(--header-clr-1);
}

.bottomSpace{
    margin-bottom:2rem;
}


.playerInputName{
    width: 8.2rem;
    height:1.4rem;

    outline: none;
    font-weight: bold;
    text-align: center;
}


.player2Div{
    margin-left:15rem;
}

.centerBtn{
    text-align: center;
}

.centerBtn button{
    width:6rem;
    height:2rem;

    margin-top:5px;
}
/* ===========================  */
/* ?        Buttons */
/* ========================== */

.playerSection button{
    border-radius: 4px;
    border:none;
}

.buttonHover:hover{
    background-color:var(--btn-Hover-clr-1);

    border-radius: 6px;

    font-weight: bold;
    color:white;

    cursor: pointer;
}


/*++++++++++++++++++++++++++
=========================== */
/* !Start the Game section */
/* ==========================
+++++++++++++++++++++++++++++*/



.startGameBtn{
    display: grid;
    margin:0 auto;

    margin-top:5rem;

    text-align: center;
    align-items: center;
    
    width: 10rem;
    height:2.5rem;

    border:none;
    border-radius: 4px;
}

.startGameBtn:hover{

    cursor: pointer;
    color:white;

    background-color: #FFBE6B;
    font-weight: bold;
}



.selectedChoiceBtn{
    font-weight: bold;
    background-color: #F08F7B;
    color:white;
}




.hidden{
    display: none;
}
/*++++++++++++++++++++++++++
=========================== */
/*!     Cross or Zero       */
/* ==========================
+++++++++++++++++++++++++++++*/



.zeroSign::before{
    content:"O";
    height: 100%;
    width:100%;


    display:flex;
    justify-content: center;
    align-items: center;


    color:black;
}


.crossSign::before{
    content:"X";
    height: 100%;
    width:100%;


    display:flex;
    justify-content: center;
    align-items: center;


    color:black;
}



/*++++++++++++++++++++++++++
=========================== */
/**     Winner Text */
/* ==========================
+++++++++++++++++++++++++++++*/
.winnerSection,
.winnerText{
    display: flex;
    align-items: center;
    justify-content: center;

    width:100%;
}


.winnerSection{
    margin-top:-3rem;
    height: 100%;
}

.winnerModal{
    height: 25rem;
    width: 25rem;

    border:3px solid black;
    border-radius: 7px;

}

.winnerText{
    min-height:20rem;

}