*,::after,::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;



}

/* =============== */
/* !game Title */
/* =============== */

.gameTitle{
    text-align: center;

    margin: 2rem 0 3rem 0;

    font-size: 2rem;
}


/* =============== */
/* !game section */
/* =============== */


.game{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70%;
    width: 100%;

}


.gameSection{
    height:36rem;
    width:36rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.CellSize{
    width:12rem;
    height:12rem;

    border: 1px solid black;
}

/*===================
=====================*/
/* !player section   */
/* ==================
===================== */


.playerSection{
    display: flex;
    justify-content: center;

    font-family: 'Tilt Neon', sans-serif;
    font-weight: bold;

}


/*=========================== */
/* !Start the Game section */
/* ==========================*/



.startGame{
    display: grid;
    margin:0 auto;

    margin-top:2rem;

    text-align: center;
    align-items: center;
    
    width: 7rem;
    height:2rem;
}

.hidden{
    display: none;
}